
<form action="" method="post">
    <input type="text" name="name" id="">
    <input type="text" name="age" id="">
    <input type="text" name="number" id="">
    <button type="submit">Add</button>
</form>